/* Style Sheet for Horiseon Landing Page */ 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Website Background Style */
body {
  background-color: #000000;
}
/* Header Style Start */
.header {
  padding: 20px;
  font-family: Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  color: white;
}

.header h1 .yo {
  color: rgb(189, 61, 248);
}

/* Navigation Style Start */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header nav ul {
  list-style-type: none;
}

.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
  color: white
}

h2 {
  color: white
  font-size: 48px;
}

section {
  padding: 60px;
  align-items: center;
}

/* Navigation Style End */
/* Header Style End */

/* Hero Style Start */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/hero-banner-sayeyo.webp");
  background-size: cover;
  background-position: center;
  float: both;
  text-align: left; padding: 100px
}

.section {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-color: rgb(155, 17, 247);
  background-size: cover;
  background-position: center;
  float: both;
  text-align: left; padding: 100px

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/* hero banner */
.hero p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 26px

}

.hero H2 {
  font-size: 120px
}

.section H3 {
  font-size: 60px; 
  color: white;
}

.section p {
  font-size: 28px; 
  color: white;
}

.hero-block {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* App Store Download Section Style Start */
.section {
  width: 100%;
  display: inline-block;
  margin-left: 20px;
  align-content: center;
}

.download-on-apple, .download-on-google-play {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:rgb(197, 20, 233);
  color: #ffffff;
}

.download-on-apple img, .download-on-google-play img {
  size: medium;
}

.download-on-apple h2, .download-on-google-play h2 {
  margin-bottom: 20px;
  font-size: 36px;
  align-items: center;
  padding: 20px
  
}

.download-on-apple-icon, .download-on-google-play-icon {
 background-image: URL("../images/white-phone.webp")
}
/* Content Section Style End */ 

/* Footer Style Start */ 
.footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
font-size: 20px;
}
/* Footer Style End */ 